
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-color: $body-bg;
  font-family: $font-family-sans-serif;
}

.wrapper {
  margin: 200px auto;
  width: 700px;
}

